@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.welcomesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 80vh;
  background-color: #a9cec2;
  border-radius: 10px;
  color: #303030;
}

.welcometxth1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
}

.welcometxth3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.enterbutton {
  width: 172px;
  margin: 8px;
  background-color: #5f5c6d;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.homebuttonscard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 80vh;
  background-color: #e1fffa;
  border-radius: 10px;
}

.homebutton {
  width: 232px;
  /* height: 52px; */
  margin: 24px;
  background-color: #5f5c6d;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.buttonpair {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #a9cec2;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px #e1fffa;
  z-index: 999;
  margin-top: 0;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  height: 50px;
  margin-left: 20px;
}

.exitbutton {
  width: 96px;
  margin-right: 48px;
  background-color: #5f5c6d;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #a9cec2;
  color: #303030;
  padding: 10px 20px;
  /* box-shadow: 2px 0 2px 4px rgba(0, 0, 0, 0.1); */
  box-shadow: 2px 0 2px 4px #e1fffa;
  z-index: 999;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.aboutme {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* text-align: center; */
}

.victorimg {
  width: 300px;
  height: auto;
  border-radius: 150px;
  margin: 0 12px 0 0;
}

.aboutmetxt {
  width: 500px;
  height: auto;
  max-width: 400px;
  margin: 0 0 20px 12px;
  font-size: 20px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  overflow: auto;
}

.projects {
  display: flex;
  flex-direction: row;
}

.tipper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: auto;
  margin: 24px 32px 48px 0;
  h1 {
    font-size: 42px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 12px;
  }
  .tipperimg {
    border: solid 1px;
    border-radius: 5px;
    width: 250px;
    height: 350px;
    margin-bottom: 12px;
  }
  p {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
  }
  .tipperbtn {
    width: 250px;
    /* height: 52px; */
    margin: 24px;
    background-color: #5f5c6d;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-top: 12px;
  }
}

.ncnews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: auto;
  margin: 24px 0 48px 32px;
  h1 {
    font-size: 42px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 12px;
  }
  .ncnewsimg {
    border: solid 1px;
    border-radius: 5px;
    width: 250px;
    height: 350px;
    margin-bottom: 12px;
  }
  p {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
  }
  .ncnewsbtn {
    width: 250px;
    /* height: 52px; */
    margin: 24px;
    background-color: #5f5c6d;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-top: 12px;
  }
}
